<footer class="elementor elementor-18433 elementor-location-footer" data-elementor-id="18433" data-elementor-post-type="elementor_library" data-elementor-type="footer">
<div class="elementor-element elementor-element-4f4f57c e-flex e-con-boxed e-con e-parent" data-element_type="container" data-id="4f4f57c" data-settings='{"background_background":"classic"}'>
<div class="e-con-inner">
<div class="elementor-element elementor-element-a299c23 e-con-full e-flex e-con e-child" data-element_type="container" data-id="a299c23">
<div class="elementor-element elementor-element-dc143df elementor-widget elementor-widget-heading" data-element_type="widget" data-id="dc143df" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Imagine A Better Future</h2> </div>
</div>
<div class="elementor-element elementor-element-afc6edd elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="afc6edd" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
									The Most Eminent Visas &amp; Immigration Consultant service provider.

								</div>
</div>
<div class="elementor-element elementor-element-922121b elementor-shape-circle e-grid-align-left elementor-grid-0 elementor-widget elementor-widget-social-icons" data-element_type="widget" data-id="922121b" data-widget_type="social-icons.default">
<div class="elementor-widget-container">
<div class="elementor-social-icons-wrapper elementor-grid" role="list">
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-ff82cde" href="https://www.facebook.com/dcseducare1" target="_blank">
<span class="elementor-screen-only">Facebook</span>
<i aria-hidden="true" class="fab fa-facebook"></i> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-051be6d" href="https://www.linkedin.com/company/82580202/admin/settings/" target="_blank">
<span class="elementor-screen-only">Linkedin</span>
<i aria-hidden="true" class="fab fa-linkedin"></i> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-7937930" href="https://www.instagram.com/dcseducare8/" target="_blank">
<span class="elementor-screen-only">Instagram</span>
<i aria-hidden="true" class="fab fa-instagram"></i> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-cd8d6e9" href="https://www.youtube.com/channel/UCFGaokuGe3db2ACGCgLR57A" target="_blank">
<span class="elementor-screen-only">Youtube</span>
<i aria-hidden="true" class="fab fa-youtube"></i> </a>
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-9e32c03 elementor-widget elementor-widget-image" data-element_type="widget" data-id="9e32c03" data-widget_type="image.default">
<div class="elementor-widget-container">
<a href="https://www.icef.com/agency/0012000000UQ3ImAAL" target="_blank">
<img alt="" class="attachment-full size-full wp-image-18435" data-id="18435" height="600" sizes="(max-width: 512px) 100vw, 512px" src="{{ 'assets/wp-content/uploads/2025/01/0012000000UQ3ImAAL_badge-min.png'|theme }}" srcset="{{ 'assets/wp-content/uploads/2025/01/0012000000UQ3ImAAL_badge-min.png'|theme }} 512w, {{ 'assets/wp-content/uploads/2025/01/0012000000UQ3ImAAL_badge-min-256x300.png'|theme }} 256w" width="512"/> </a>
</div>
</div>
</div>
<div class="elementor-element elementor-element-fa84c62 e-con-full e-flex e-con e-child" data-element_type="container" data-id="fa84c62">
<div class="elementor-element elementor-element-091c71c elementor-widget elementor-widget-heading" data-element_type="widget" data-id="091c71c" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">100+ Best Universities Scholarship Programs From 20 Countries​</h2> </div>
</div>
<div class="elementor-element elementor-element-37d98e2 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="37d98e2" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>We also help with other family based employment ased and investment based Immigration.(Validity From: 2022-01-11 12:00)</p> </div>
</div>
<div class="elementor-element elementor-element-67e4693 e-grid e-con-full e-con e-child" data-element_type="container" data-id="67e4693">
<div class="elementor-element elementor-element-0ecd826 elementor-widget elementor-widget-image" data-element_type="widget" data-id="0ecd826" data-widget_type="image.default">
<div class="elementor-widget-container">
<img alt="" class="attachment-full size-full wp-image-6560" data-id="6560" height="33" src="{{ 'assets/wp-content/uploads/2022/07/flag01.png'|theme }}" width="52"/> </div>
</div>
<div class="elementor-element elementor-element-8528a30 elementor-widget elementor-widget-image" data-element_type="widget" data-id="8528a30" data-widget_type="image.default">
<div class="elementor-widget-container">
<img alt="" class="attachment-full size-full wp-image-6561" data-id="6561" height="33" src="{{ 'assets/wp-content/uploads/2022/07/flag02.png'|theme }}" width="52"/> </div>
</div>
<div class="elementor-element elementor-element-2e3135b elementor-widget elementor-widget-image" data-element_type="widget" data-id="2e3135b" data-widget_type="image.default">
<div class="elementor-widget-container">
<img alt="" class="attachment-full size-full wp-image-6562" data-id="6562" height="33" src="{{ 'assets/wp-content/uploads/2022/07/flag03.png'|theme }}" width="52"/> </div>
</div>
<div class="elementor-element elementor-element-f754f36 elementor-widget elementor-widget-image" data-element_type="widget" data-id="f754f36" data-widget_type="image.default">
<div class="elementor-widget-container">
<img alt="" class="attachment-full size-full wp-image-6563" data-id="6563" height="33" src="{{ 'assets/wp-content/uploads/2022/07/flag04.png'|theme }}" width="52"/> </div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-a7c51ff e-con-full e-flex e-con e-child" data-element_type="container" data-id="a7c51ff">
<div class="elementor-element elementor-element-daa0c17 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="daa0c17" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Get In Touch
</h2> </div>
</div>
<div class="elementor-element elementor-element-1420570 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="1420570" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p dir="ltr">Bangladesh Office Address:</p><p dir="ltr">Bashati Condominium Suite 15AB, House-15, Road-17, Banani C/A, Dhaka-1213.</p><p dir="ltr">Front Desk: +8801796520031-33</p><p dir="ltr">UAE Office Address:</p><p dir="ltr">Building Name: Alsuaidi, Land Area: Al Mararr, Plot No: 247, Apartment No: 202-489, Suite 10AB, Dubai, UAE</p><p dir="ltr">Cell: +971545570113</p> </div>
</div>
<div class="elementor-element elementor-element-678c7e1 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="678c7e1" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Email:
</h2> </div>
</div>
<div class="elementor-element elementor-element-f9b8d61 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="f9b8d61" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<a href="mailto: info@dcsedu.org;"> info@dcsedu.org</a>
<br/>
<a href="mailto: dcs_educare@yahoo.com;">dcs_educare@yahoo.com</a> </div>
</div>
</div>
<div class="elementor-element elementor-element-6852d06 e-con-full e-flex e-con e-child" data-element_type="container" data-id="6852d06" data-settings='{"background_background":"classic"}'>
<div class="elementor-element elementor-element-2e4eede e-con-full e-flex e-con e-child" data-element_type="container" data-id="2e4eede">
<div class="elementor-element elementor-element-ee554cd elementor-widget elementor-widget-heading" data-element_type="widget" data-id="ee554cd" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Canada</h2> </div>
</div>
<div class="elementor-element elementor-element-16c9454 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-element_type="widget" data-id="16c9454" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-d5bf28b elementor-widget elementor-widget-heading" data-element_type="widget" data-id="d5bf28b" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Immigrations</h2> </div>
</div>
</div>
<div class="elementor-element elementor-element-5ea0d81 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="5ea0d81" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p><strong>Give Wings to Your Dream</strong><br><br>Call Us On: <a href="tel: +8801796520031;">+8801796520031-33</a></br></br></p> </div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-9129aa3 e-flex e-con-boxed e-con e-parent" data-element_type="container" data-id="9129aa3" data-settings='{"background_background":"classic"}'>
<div class="e-con-inner">
<div class="elementor-element elementor-element-f889928 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="f889928" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
									Copyright ©  2026 DCS EDUCARE.  All rights reserved.								</div>
</div>
<div class="elementor-element elementor-element-bfe2af9 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="bfe2af9" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
									Design &amp; Developed By <a href="https://imbdagency.com/">IMBD Agency Ltd.</a> </div>
</div>
</div>
</div>
</footer>