<header class="elementor elementor-18397 elementor-location-header" data-elementor-id="18397" data-elementor-post-type="elementor_library" data-elementor-type="header">
<div class="elementor-element elementor-element-b1e45ec e-flex e-con-boxed e-con e-parent" data-element_type="container" data-id="b1e45ec" data-settings='{"background_background":"classic"}'>
<div class="e-con-inner">
<div class="elementor-element elementor-element-166b36c e-con-full e-flex e-con e-child" data-element_type="container" data-id="166b36c">
<div class="elementor-element elementor-element-00d4489 elementor-icon-list--layout-inline elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-element_type="widget" data-id="00d4489" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items elementor-inline-items">
<li class="elementor-icon-list-item elementor-inline-item">
<a href="mailto:%20info@dcsedu.org">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="fas fa-envelope"></i> </span>
<span class="elementor-icon-list-text">info@dcsedu.org</span>
</a>
</li>
<li class="elementor-icon-list-item elementor-inline-item">
<a href="tel:%20+8801796520031">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="fas fa-phone-alt"></i> </span>
<span class="elementor-icon-list-text">+8801796520031</span>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="elementor-element elementor-element-30efebd e-con-full e-flex e-con e-child" data-element_type="container" data-id="30efebd">
<div class="elementor-element elementor-element-cab622a elementor-shape-circle e-grid-align-right e-grid-align-mobile-center elementor-grid-0 elementor-widget elementor-widget-social-icons" data-element_type="widget" data-id="cab622a" data-widget_type="social-icons.default">
<div class="elementor-widget-container">
<div class="elementor-social-icons-wrapper elementor-grid" role="list">
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-b4e04a5" href="https://www.facebook.com/dcseducare1" target="_blank">
<span class="elementor-screen-only">Facebook</span>
<i aria-hidden="true" class="fab fa-facebook"></i> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-5a5dbe2" href="https://www.instagram.com/dcseducare8/" target="_blank">
<span class="elementor-screen-only">Instagram</span>
<i aria-hidden="true" class="fab fa-instagram"></i> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-da9ec73" href="https://www.linkedin.com/company/dcs-educare-bd/" target="_blank">
<span class="elementor-screen-only">Linkedin</span>
<i aria-hidden="true" class="fab fa-linkedin"></i> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-976956c" href="https://www.youtube.com/channel/UCFGaokuGe3db2ACGCgLR57A" target="_blank">
<span class="elementor-screen-only">Youtube</span>
<i aria-hidden="true" class="fab fa-youtube"></i> </a>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-5067192 e-flex e-con-boxed e-con e-parent" data-element_type="container" data-id="5067192" data-settings='{"background_background":"classic","sticky":"top","sticky_on":["desktop","laptop"],"sticky_offset":0,"sticky_effects_offset":0,"sticky_anchor_link_offset":0}'>
<div class="e-con-inner">
<div class="elementor-element elementor-element-6aaa840 e-con-full e-flex e-con e-child" data-element_type="container" data-id="6aaa840">
<div class="elementor-element elementor-element-e03f911 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-element_type="widget" data-id="e03f911" data-widget_type="theme-site-logo.default">
<div class="elementor-widget-container">
<a href="/">
<img alt="" class="attachment-full size-full wp-image-18405" data-id="18405" fetchpriority="high" height="282" src="{{ 'assets/wp-content/uploads/2023/09/DCS-LOGO.png'|theme }}" width="212"/> </a>
</div>
</div>
</div>
<div class="elementor-element elementor-element-0902891 e-con-full e-flex e-con e-child" data-element_type="container" data-id="0902891">
<div class="elementor-element elementor-element-e1081b0 elementor-nav-menu__align-center elementor-nav-menu--stretch elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-element_type="widget" data-id="e1081b0" data-settings='{"full_width":"stretch","layout":"horizontal","submenu_icon":{"value":"&lt;i class=\"fas fa-caret-down\" aria-hidden=\"true\"&gt;&lt;\/i&gt;","library":"fa-solid"},"toggle":"burger"}' data-widget_type="nav-menu.default">
<div class="elementor-widget-container">
<nav aria-label="Menu" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
<ul class="elementor-nav-menu" id="menu-1-e1081b0"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-313 current_page_item menu-item-16681"><a aria-current="page" class="elementor-item elementor-item-active" href="/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16683"><a class="elementor-item" href="/about-us">About Us</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16665"><a class="elementor-item" href="{{ url('/') }}/students-services/">Students Services</a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17672"><a class="elementor-sub-item" href="{{ url('/') }}/service/study-abroad-destination/">Study Abroad Destination Guide And Counselling</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17782"><a class="elementor-sub-item" href="{{ url('/') }}/service/university-scholarship-guidance/">University Scholarship Guidance</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17783"><a class="elementor-sub-item" href="{{ url('/') }}/service/tourist-visa/">Tourist Visa Support</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16663"><a class="elementor-item" href="{{ url('/') }}/study-abroad/">Study Aboard</a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18666"><a class="elementor-sub-item" href="/portfolio/study-in-new-zealand">Study in New Zealand</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16698"><a class="elementor-sub-item" href="/portfolio/study-in-denmark-from-bangladesh">Study in Denmark</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16962"><a class="elementor-sub-item" href="{{ url('/') }}/portfolio/sweden/">Study in Sweden</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16710"><a class="elementor-sub-item" href="/portfolio/australia-2">Study in Australia</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16965"><a class="elementor-sub-item" href="{{ url('/') }}/portfolio/canada/">Study in Canada</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16693"><a class="elementor-sub-item" href="/portfolio/usa">Study in USA</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16696"><a class="elementor-sub-item" href="/portfolio/uk">Study in UK</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16695"><a class="elementor-sub-item" href="/portfolio/malaysia">Study in Malaysia</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16701"><a class="elementor-item" href="/blog">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17049"><a class="elementor-item" href="/gallery">Gallery</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16702"><a class="elementor-item" href="/contact-us">Contact Us</a></li>
</ul> </nav>
<div aria-expanded="false" aria-label="Menu Toggle" class="elementor-menu-toggle" role="button" tabindex="0">
<i aria-hidden="true" class="elementor-menu-toggle__icon--open eicon-menu-bar" role="presentation"></i><i aria-hidden="true" class="elementor-menu-toggle__icon--close eicon-close" role="presentation"></i> </div>
<nav aria-hidden="true" class="elementor-nav-menu--dropdown elementor-nav-menu__container">
<ul class="elementor-nav-menu" id="menu-2-e1081b0"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-313 current_page_item menu-item-16681"><a aria-current="page" class="elementor-item elementor-item-active" href="/" tabindex="-1">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16683"><a class="elementor-item" href="/about-us" tabindex="-1">About Us</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16665"><a class="elementor-item" href="{{ url('/') }}/students-services/" tabindex="-1">Students Services</a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17672"><a class="elementor-sub-item" href="{{ url('/') }}/service/study-abroad-destination/" tabindex="-1">Study Abroad Destination Guide And Counselling</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17782"><a class="elementor-sub-item" href="{{ url('/') }}/service/university-scholarship-guidance/" tabindex="-1">University Scholarship Guidance</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17783"><a class="elementor-sub-item" href="{{ url('/') }}/service/tourist-visa/" tabindex="-1">Tourist Visa Support</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16663"><a class="elementor-item" href="{{ url('/') }}/study-abroad/" tabindex="-1">Study Aboard</a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18666"><a class="elementor-sub-item" href="/portfolio/study-in-new-zealand" tabindex="-1">Study in New Zealand</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16698"><a class="elementor-sub-item" href="/portfolio/study-in-denmark-from-bangladesh" tabindex="-1">Study in Denmark</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16962"><a class="elementor-sub-item" href="{{ url('/') }}/portfolio/sweden/" tabindex="-1">Study in Sweden</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16710"><a class="elementor-sub-item" href="/portfolio/australia-2" tabindex="-1">Study in Australia</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16965"><a class="elementor-sub-item" href="{{ url('/') }}/portfolio/canada/" tabindex="-1">Study in Canada</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16693"><a class="elementor-sub-item" href="/portfolio/usa" tabindex="-1">Study in USA</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16696"><a class="elementor-sub-item" href="/portfolio/uk" tabindex="-1">Study in UK</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-16695"><a class="elementor-sub-item" href="/portfolio/malaysia" tabindex="-1">Study in Malaysia</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16701"><a class="elementor-item" href="/blog" tabindex="-1">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17049"><a class="elementor-item" href="/gallery" tabindex="-1">Gallery</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16702"><a class="elementor-item" href="/contact-us" tabindex="-1">Contact Us</a></li>
</ul> </nav>
</div>
</div>
</div>
<div class="elementor-element elementor-element-05c431e e-con-full elementor-hidden-laptop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con e-child" data-element_type="container" data-id="05c431e">
<div class="elementor-element elementor-element-134ab42 elementor-align-right prt-btn-shape-rounded prt-btn-color-skincolor prt-btn-style-flat elementor-widget elementor-widget-button" data-element_type="widget" data-id="134ab42" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm" href="/students-registration">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Get in Touch</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</header>